:root{
    --mainColor:#121212;
    --secondaryColor:#000000;

    --borderColor:#3E50B4;
    --navColor:#313131;

    --mainText:white;
    --secondaryText:#BB86FC;
    --themeDotBorder:white;
    --previewBg:#424242;
    --previewShadow:#212121;
    --buttonColor:#FF3F80;

}


